body {font-family: sans-serif}
div, header {text-align:center}
.blue {background-color:blue}
.green {background-color:green}
.dkblue {color:darkblue;}
.mt {background-color:mediumturquoise;}
.bigText {
  font-size:1.2em;
  text-align: left;
}
li {
  margin-bottom: .2rem;
}
.gray {background-color:lightgray}
button {font-size:2em; color:white; padding-top:1.1em; padding-bottom:1.1em; 
	margin-bottom: 2em; border-radius: .3em; border-color:gray; margin: .5em;}
button.small {padding:.4em; }
button.big {padding-right:.35em; padding-left:.35em; margin-right:2em; }
/*button:disabled {opacity: 0.1}*/

#participantForm button {
    font-size: 1em;
    color:green;
    padding: 0.4em;
    border-radius: .3em; border-color:gray; margin: .5em;
}
#tinnitusRating button {
    font-size: 1em;
    color:green;
    padding: 0.4em;
    border-radius: .3em; border-color:gray; margin: .5em;
}

p {margin:.3em}
.butoff{
  opacity: 0.1;
  cursor: not-allowed;
}
.nobutton {
  opacity: 0;
}
.row {
  display: flex;
}
.instructions {
  flex: 40%;
}
.experiment {
  flex: 60%;
}
.left {
	width: 20%;
}
.right{
	width: 20%;
}

.blink {
     animation: blinker 2s cubic-bezier(.5, 0, 1, 1) 0.2s 1 alternate;
}
 @keyframes blinker {
     from {
         opacity: 1;
    }
     to {
         opacity: 0;
    }
}

 .circle {
      border-radius: 50%;
      background-color: darkorange;
      width: 3.25em;
      height: 3.25em;
      /*position: absolute;*/
      opacity: 1;
      margin: auto;
      text-align: center;
 }

.slidecontainer {
  width: 60%; /* Width of the outside container */
  margin-left: auto;
  margin-right: auto;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 2em; /* Specified height */
  border-radius: 2em;
  background: lightgray; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2em; /* Set a specific slider handle width */
  height: 2em; /* Slider handle height */
  border-radius: 50%;
  background: blue; /* blue background */
  cursor: pointer; /* Cursor on hover */
}

div.badParticipant {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid #f5c6cb;
    color: #721c24;
    background-color: #f8d7da;
}
